@namespace "http://www.w3.org/1999/xhtml";

@-moz-document domain("reddit.com") {
  @background: #1d1f21;
  @current-line: #282a2e;
  @selection: #373b41;
  @foreground: #c5c8c6;
  @comment: #969896;
  @red: #cc6666;
  @orange: #de935f;
  @yellow: #f0c674;
  @green: #b5bd68;
  @aqua: #8abeb7;
  @blue: #81a2be;
  @purple: #b294bb;

  .text-shadow {
    text-shadow: black 0px 1px 3px !important;
  }

  .transition {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

  .font-family {
    font-family: sans-serif;
  }

  body {
    background: @background;
    color: @selection;
    .font-family;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    .font-family;
  }

  a {
    color: @comment;
    .transition;
  }

  a:hover {
    color: @foreground !important;
    text-decoration: none !important;
    .transition;
  }

  .user a {
    color: @blue;
    font-weight: bold;
  }
  .userkarma {
    color: @foreground;
    a {
      color: @foreground;
      font-weight: normal;
    }
  }
  .content h1 {
    color: @foreground;
  }

  ::selection {
    background: @selection;
    color: @blue; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: @selection;
    color: @blue; /* Gecko Browsers */
  }

  /* organic/promoted */
  .organic-listing {
    border: @selection 1px solid;
    border-radius: 4px;
    background: @background !important;

    .link {
      background: none;

      &.compressed,
      &.promotedlink {
        background: none;
      }
    }

    .rank {
      display: none;
    }
    .help {
      color: @aqua;
    }
    .nextprev {
      .arrow.prev,
      .arrow.next {
        opacity: .2;
      }
    }
  }

  .trending-subreddits strong {
    color: @green;
  }

  /*sr header */
  #sr-header-area {
    background: @background;
    color: @comment;
    border: none;
    a.RESShortcutsCurrentSub {
      color: @aqua !important;
    }
  }
  .sr-bar {
    a,
    a:visited {
      color: @comment !important;
    }
  }
  #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: @aqua !important;
  }
  .dropdown.srdrop .selected {
    background: @background;
    color: @foreground;
    border-right: 1px solid @selection;
  }

  /* Header */
  #header {
    background: @selection;
    border: none;
  }

  .pagename {
    color: @comment;

    a {
      color: @red;
    }
  }

  .tabmenu {
    li {
      a {
        border: none !important;
        border-radius: 3px 3px 0 0;
        background: @selection;
        color: @comment;
      }

      &.selected {
        a {
          color: @background !important;
          background: @background;
          border-bottom: none;
        }
      }
    }
  }

  /* Header bottom right */
  #header-bottom-right {
    background: @background;
  }
  #userbarToggle {
    background: @background;
    border-color: @background;
    color: @comment;
  }
  .user {
    color: @comment;
  }

  /* misc */
  .sr-interest-bar {
    background-color: @aqua;
    border: none;
    border-radius: 4px;

    .subscribe {
      background: @aqua;
      border: none;
    }
  }

  .action-form {
    background: @selection;
    border: @selection 1px solid;
    color: @comment;
  }
  .panestack-title {
    border-bottom: @selection 1px dotted;
  }
  #account-activity {
    &.instructions {
      color: @comment;
    }
    table {
      border: @selection 1px solid;
      td,
      th {
        border: @selection 1px solid;
        padding: 5px;
      }
    }
  }
  .server-seconds {
    background: @foreground;
    color: @comment;
    border: none;

    em {
      color: @blue;
    }
  }
  .server-seconds-public {
    &.bottom {
      color: @blue;
    }
  }

  /*==========================
    MAIN LINK LISTING
    ===========================*/
  /* link listing */
  .link {
    padding-top: 5px;
    margin-bottom: 12px;

    &.compressed {
      .title {
        margin-top: 0;
      }
    }

    /* link listing vote */
    .score {
      font-weight: normal;
      color: @comment;
    }

    .rank {
      font-weight: normal;
      color: @selection;
      background: none;
      text-align: center;
      border-radius: 50%;
      padding: 2px;
    }

    .md {
      pre {
        background-color: @selection;
      }
    }
  }

  @darkenby: 30%;

  .thing {
    .title {
      color: @foreground;
      font-weight: 400;
      .font-family;

      .title {
        .text-shadow;
      }

      &:visited {
        color: darken(@comment, @darkenby) !important;
      }
    }

    &.stickied {
      &.link {
        a {
          &.title,
          &:visited,
          &.visited {
            color: @green;
          }
        }
      }
    }

    &.spam {
      background: @selection;
    }
  }

  .search-result {
    .search-title:link {
      color: @foreground;

      > mark {
        background-color: @green;
        color: @background;
        padding: 3px;
        border-radius: 3px;
      }
    }

    .search-title:visited {
      color: darken(@comment, @darkenby);

      > mark {
        background-color: @green;
        color: @background;
        padding: 3px;
        border-radius: 3px;
      }
    }

    .search-comments {
      color: @blue;

      &:visited {
        color: @blue !important;
      }
    }

    .author {
      color: @purple;

      &:visited {
        color: @purple!important;
      }
    }

    .search-subreddit-link {
      color: @red;

      &:visited {
        color: @red !important;
      }
    }
  }

  .search-expando {
    &.collapsed::before {
      background-image: linear-gradient(
        to bottom,
        @selection 0%,
        @background 100%
      );
    }
  }

  .search-expando-button.expanded .search-expando-button-label-expanded,
  .search-expando-button.collapsed .search-expando-button-label-collapsed {
    color: @green;
  }

  .tagline {
    color: @comment !important;

    a {
      color: @purple;
      font-weight: normal;

      &.subreddit {
        color: @red;
      }
    }

    .friend {
      background: @orange;
      color: @foreground;
      border-radius: 3px;
      padding: 0 4px;
    }

    .stickied-tagline {
      color: @green;
    }

    .submitter {
      background: @blue !important;
      color: @foreground;
      padding: 0 4px;
      border-radius: 3px;
    }

    .admin {
      color: @red;
    }
    .moderator,
    .green {
      color: @green;
    }
    .score {
      color: @orange;
      &.likes {
      }
      &.dislikes {
      }
    }

    .author {
      &.friend {
        background-color: @purple !important;
      }
      &.submitter {
        background: @purple !important;
        color: @background;

        &:hover {
          color: @background !important;
          .transition;
        }
      }
      &.admin {
        background: @red !important;
      }
    }
  }

  .subreddit {
    color: @red;
    font-weight: normal;

    .usertext {
      .md {
        background: @selection;
        border: none;
        border-radius: 4px;
        padding: 5px;
      }
    }

    .title {
      color: @foreground;
    }
  }

  .comment .author {
    color: @purple;
    font-weight: normal;
  }

  .domain a {
    color: @aqua;
  }

  .entry {
    .buttons {
      li {
        line-height: 12px;

        a {
          color: @comment;
        }
      }
    }
  }

  .expando-button {
    opacity: .4;
    background: none;
  }

  .link.last-clicked {
    border: @selection dashed 1px;
  }

  .flat-list {
    &.buttons {
      li {
        a {
          color: @blue;
        }

        &.selected {
          a {
            color: @orange;
          }
        }
      }
    }
  }

  .newComments {
    color: @orange;
  }

  .redditSingleClick {
    color: @comment;

    &:hover {
      color: @foreground;
      .transition;
    }
  }

  .arrow {
    &.up,
    &.down {
      opacity: .12;
    }
  }

  /* thumbnails */
  .thumbnail {
    border: @selection solid 1px;
    border-radius: 3px;
  }

  /* side */

  .side {
    background: @selection;
    padding: 5px;
    border-radius: 6px;
    margin: 5px;
    color: @comment;

    .md {
      .-text,
      p,
      pre > code,
      th,
      td,
      li {
        line-height: 1.4em;
      }

      h1,
      h2 {
        color: @green;
      }
    }
  }

  .login-form-side {
    border: @selection 1px solid;
    border-radius: 4px;

    input[type="text"],
    input[type="password"] {
      background: @comment;
      color: @comment;
      border: none;

      &:focus {
        background: @foreground;
        color: @selection;
      }
    }
  }

  #search {
    input[type="text"] {
      background: @foreground;
      color: @comment;
      border: none;

      &:focus {
        background: @foreground;
        color: @background;
      }
    }
  }

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    background: @aqua;
    border: none;
    border-radius: 3px;
    color: @background;
    margin-right: 4px;
  }

  .titlebox {
    h1 {
      a {
        color: @aqua;
      }
    }

    form.toggle {
      background: @aqua;
      padding: 5px;
      color: @background;
    }
  }

  .md {
    color: @foreground;

    a {
      color: @aqua;
    }

    hr {
      background: @selection;
    }

    h6 {
      text-decoration: none;
    }

    blockquote {
      border-left: @aqua 4px solid;
      color: @aqua;
      background: @current-line;

      del {
        color: @blue;
      }
    }

    code,
    pre {
      background: @selection;
      border: none;
      border-left: @current-line 4px solid;
      border-radius: 0;
      color: @green;
    }
  }

  .morelink {
    background: none;
    border: none;
    border-radius: 3px;

    .nub {
      display: none;
    }

    a {
      background-color: @background;
      color: @green;
      font-weight: normal;
      letter-spacing: normal;

      &:hover {
        background-color: @current-line;
        color: @green;
        .transition;
      }
    }
  }

  .read-next-container {
    .read-next {
      background: @background;
      border: 1px solid @current-line;
      box-shadow: 0 0 3px 0 @green;

      .read-next-header {
        background: @current-line;
        border-bottom: 1px solid @green;
      }

      .read-next-button {
        background: @green;
        color: @background;
      }
      .read-next-dismiss {
        color: @foreground;
        background: @red;
        border-radius: 50%;
      }
    }
  }

  .giftgold a,
  .gilded-link a {
    font-weight: normal;
    color: @yellow;
  }

  .goldvertisement .inner {
    background: @yellow;
  }

  .gadget {
    small {
      color: @comment;
    }
    a {
      color: @comment;

      &.reddit-comment-link {
        color: @foreground;
      }
    }
  }

  .sidebox {
    .spacer {
      background: @comment;
    }

    .subtitle {
      color: @comment;
    }
  }

  .sidecontentbox .content {
    background: @background;
    border: none;
  }

  /* tags, stamps, flairs */
  .nsfw-stamp {
    color: @red;
    background: @background;
  }

  .linkflairlabel {
    .font-family;
  }

  .flair {
    background: transparent;
    border: 1px solid @purple;
    color: @purple;
  }

  .linkflairlabel {
    background: @green;
    border: @green 1px solid;
    color: @selection;
  }

  /* Buttons */
  .nav-buttons {
    background: @selection;
    padding: 10px;
  }

  .nextprev,
  .next-suggestions {
    margin: 0 10px;

    a {
      background: @background;
      border: @background solid 1px;
      border-radius: 4px;
      color: @foreground;
      font-weight: normal;
      padding: 2px 10px;

      &:hover {
        background: @background;
        border: @background solid 1px;
        border-radius: 4px;
        color: @foreground;
        font-weight: normal;
        padding: 2px 10px;
        .transition;
      }
    }
  }

  .next-suggestions {
    float: right;
  }

  /* Footer */
  .footer-parent {
    margin: 0;
    padding: 0;
    background: none;
  }

  .footer {
    border: none;
    background: @selection;
    .col {
      border-left: @selection 1px solid;
    }
  }

  .flat-vert.title {
    color: @comment;
    font-weight: normal;
  }

  .bottommenu {
    color: @comment;

    .updated {
      color: @aqua;
    }
  }

  /* Grippy Side */
  body {
    &.with-listing-chooser {
      &.listing-chooser-collapsed {
        .listing-chooser {
          .grippy {
            border-left: @background 1px solid;
            background: @background !important;

            &:hover:after {
              background: @selection;
              .transition;
            }

            &:after {
              border-right: @background 1px solid;
            }
          }
        }
      }
    }

    &.listing-chooser {
      &.initialized {
        .contents {
          position: fixed;
        }
      }

      .grippy:after {
        border: @background 1px solid;
      }
    }

    &.contents {
      display: none;
    }
  }

  .listing-chooser {
    .intro {
      background: @comment;
      color: @foreground;
      border-color: @background;
    }

    li {
      background: @background;
      border: none;

      &.selected {
        background: @foreground;

        a {
          span {
            color: @selection;
          }

          &:hover {
            color: @blue!important;
            .transition;
          }
        }
      }
    }
  }

  /* infobar */
  .infobar {
    border-radius: 4px;
    background-color: @selection;
    border-color: @orange;

    .md {
      color: @selection;

      a {
        color: @red;
      }
    }
  }

  /*==========================
===========================*/
  .tabmenu {
    li.selected a {
      color: @foreground !important;
    }
    &.selected a {
      background: @blue;
    }
  }

  .formtabs-content {
    border-top: @blue 4px solid;
  }

  .content.submit .info-notice {
    background-color: @background;
    border: @selection 1px solid;
  }

  /*==========================
COMMENTS VIEW
===========================*/
  .link {
    .usertext {
      .md {
        background: @selection;
        border: none;
        padding: 10px;
      }
    }

    .md {
      :not(pre) > code {
        background: @selection;
        border: none;
        border-left: @current-line 4px solid;
        border-radius: 0;
        color: @green;
      }
    }
  }

  .comment {
    .child,
    .showreplies {
      border-left: @selection 1px dotted;
    }
  }

  .morecomments a {
    background: @selection;
    color: @comment;
    padding: 0 4px;
    border-radius: 3px;
    font-weight: normal !important;
  }

  a.voteWeight {
    background-color: @green !important;
    color: @background !important;
    border-radius: 3px;
    padding: 0 2px;
  }

  .drop-choices a.choice:hover {
    background: @comment;
    .transition;
  }

  .linkinfo {
    background: @background;
    border: none;
    padding: 10px;
    text-align: center;

    .score {
      color: @foreground;
      margin: 5px;

      .number {
        color: @foreground;
      }

      .word {
        color: @comment;
      }
    }

    .shortlink input {
      background: @selection;
      border: none;
      color: @foreground;
      margin: 5px;
    }
  }

  .fancy-toggle-button {
    .remove {
      background: @red;
      color: @foreground !important;

      &:hover {
        background: @orange !important;
        .transition;
      }
    }

    .add {
      background: @green;
      color: @selection !important;

      &:hover {
        background: @aqua !important;
        .transition;
      }
    }

    .active {
      color: @foreground;
    }
  }

  .leavemoderator {
    background: @aqua;
    padding: 5px;
    color: @foreground;
  }

  table {
    td,
    th {
      border-color: @selection!important;
    }
  }

  .deepthread {
    a {
      color: @yellow;
    }

    &:after {
      background: none;
      color: @yellow;
    }

    &::after {
      content: "›››";
    }
  }

  .error {
    color: @red;
  }

  /* Explore */
  .explore-header {
    color: @aqua;
  }

  .explore-label {
    border-radius: 2px !important;
    border: none !important;
    opacity: .5;
    .transition;

    &:hover {
      zoom: 1;
      opacity: 1;
      .transition;
    }

    a.explore-label-link:hover {
      color: @blue !important;
      .transition;
    }
  }

  .usertext {
    &.border {
      .usertext-body {
        background-color: @background;
        border-radius: 3px;
      }
    }

    &.grayed .usertext-body {
      background-color: @background;
      border-radius: 3px;
    }
  }

  .explore-comment .comment {
    border-color: @selection;
  }

  .explore-item {
    .explore-feedback-dismiss {
      background-color: @foreground;
      border-radius: 2px;
    }

    .explore-feedback {
      .fancy-toggle-button {
        .add,
        .remove {
          border-color: @selection;
          color: @selection;
        }
      }
    }
  }

  .give-gold {
  }

  /*==========================
COMMENT FIELD
===========================*/
  textarea {
    background: @comment !important;
    border: @background 1px solid;
    color: @background !important;
  }

  .markdownEditor {
    a {
      background-color: @foreground !important;
      opacity: .4;

      &:hover {
        opacity: 1;
      }
    }
  }

  .RESBigEditorPop {
    background-color: @foreground !important;
    opacity: .4;
    .transition;

    &:hover {
      opacity: 1;
      .transition;
    }
  }

  /* RES BIG EDITOR */
  #BigEditor {
    .RESDialogSmall {
      background-color: @background !important;
      border: @selection 1px solid !important;

      h3 {
        background-color: @selection!important;
        color: @aqua;
        border-bottom: @selection 1px solid;
      }
    }
  }

  #alert_message {
    background-color: @selection !important;
    color: @comment !important;
    border: @background 1px solid !important;
    border-radius: 4px;

    input[type=button] {
      background-color: @background !important;
    }
  }

  /*==========================
===========================*/
  .searchpane {
    background: @background;
    border: @selection 1px solid;
    border-radius: 4px;

    h4 {
      color: @foreground !important;
      font-weight: normal;
    }
  }
  .subscription-box {
    .title {
      color: @aqua;
    }

    .box-separator {
      border-color: @aqua;
      margin: 5px auto;
    }
  }

  /*==========================
MESSAGES INBOX TAB
===========================*/
  .menuarea {
    border-bottom: @selection 1px dotted;
  }

  .message {
    margin: 5px;
    border-bottom: @selection dashed 1px;

    .subject {
      color: @aqua;

      .correspondent {
        background-color: @purple;
        border: 1px solid @purple;

        a {
          color: @background !important;
        }
      }
    }

    &.message-reply,
    &.message-parent {
      > .entry {
        .head {
          color: @red !important;
        }
      }

      &.recipient {
        > .entry {
          .head {
            color: @red !important;
          }
        }
      }

      .md {
        color: @comment !important;
      }

      .tagline {
        font-weight: bold;
        color: @aqua !important;
      }
    }

    &.new > .entry {
      background: @selection;
      border-color: @aqua;
      border-radius: 4px;
    }
  }

  .roundfield {
    background: @selection;
    color: @foreground;
  }

  .trophy-table {
    background: @current-line;

    .trophy-name {
      color: @comment !important;
    }
  }

  /*==========================
PREFERENCES TAB
===========================*/

  table {
    &.content {
      &.preftable {
        background: @foreground;
        color: @selection;
        border-radius: 4px;

        tr {
          border: @comment 1px solid !important;

          td {
            border: @comment 1px solid !important;
            padding: 5px;
          }
        }
      }

      input.btn {
        margin: 10px;
      }
    }
  }

  /*==========================
PRIVATE RSS TAB
===========================*/

  div.instructions.private-feeds {
    background: @selection;
    color: @foreground;
    border-radius: 4px;
    padding: 10px;
  }

  .private-feeds.instructions .feedlink {
    border-color: @comment;
    border-radius: 3px;
  }

  /*==========================
FRIENDS TAB
===========================*/

  .usertable {
    tr {
      .transition;

      td {
        border: 1px solid @selection;
        padding: 5px;
      }

      &:hover {
        .transition;
        background-color: @background;
      }
    }
  }

  /*==========================
WIKI TAB
===========================*/

  .wiki-page-content {
    .md {
      h1,
      h6 {
        color: @aqua;
      }
      h2 {
        color: @blue;
      }
      h3 {
        color: @comment;
      }
    }

    .usertext-edit {
      textarea {
        h1,
        h6 {
          color: @aqua;
        }
        h2,
        h3 {
          color: @comment;
        }
      }
    }
  }

  .wiki-page {
    .pageactions {
      border-color: @selection;

      .wikiaction-current {
        background: @blue;
      }

      .wikiaction {
        .transition;

        &:hover {
          background: @selection;
          .transition;
        }
      }
    }

    .wiki-page-content {
      .description h2 {
        color: @comment;
      }
      .wiki > .toc > ul {
        background: @background;
        border: @selection 1px solid;
        border-radius: 4px;
      }

      .wiki > .toc > ul ul {
        border-color: @selection;
      }
    }
  }

  hr {
    border-color: @selection;
    border-width: 1px;
    border-style: solid;
  }

  .generic-table {
    color: @comment;

    a {
      color: @aqua;
    }
  }

  /*==========================
FORMS MISC
===========================*/

  .pretty-form {
    input[type="text"],
    textarea,
    input[type="password"],
    input[type="number"] {
      background: @foreground;
      border: none;
      color: @background;
    }
  }

  /*==========================
MODERATION
===========================*/

  .icon-menu {
    li {
      border-bottom: 1px dotted @selection;
      padding: 2px 0 4px 0;

      &.selected a {
        color: @foreground;
      }
    }

    a {
      background: None;
    }
  }

  /*==========================
CONTENT PAGES/BLOG
===========================*/
  #about-main,
  #about-team,
  #about-postcards,
  #about-alien {
    background: @foreground;
    padding: 10px;
    border-radius: 6px;
  }

  .selfserve {
    background: @foreground;
  }

  .rulespage {
    background: @foreground;
    color: @selection;
    border-radius: 4px;
    padding: 20px;

    h1 {
      color: @aqua;
    }
  }

  .contact-us-page {
    h2 {
      &.button {
        background: @background;
        border: none;
        padding: 5px;
        border-radius: 6px;
        color: @aqua;
        .transition;

        &:hover {
          background: @selection;
          .transition;
        }
      }
    }

    .details {
      li {
        background: @background;
        border: none;
        padding: 15px;
        color: @comment;

        a {
          color: @aqua;
        }
      }
    }

    .info {
      color: @foreground;
    }
  }

  .instructions {
    color: @comment;

    h1,
    h2,
    h3 {
      color: @aqua;
    }

    a {
      color: @aqua !important;
    }

    .buttons li {
      border-color: @selection;
    }

    code {
      background: #e7d171;
      color: #5b4e16;
      border-left: #baa54f 4px solid;
    }

    ul.buttons li.button-demo img {
      background: @foreground;
      padding: 5px;
      border-radius: 2px;
    }
  }

  /*==========================
RES TWEAKS
===========================*/
  .RESSubscriptionButton {
    background: @green;
    border: none;
    color: @foreground;
    .transition;

    &:hover {
      background: @aqua;
      .transition;
    }
  }

  .RESshortcutside {
    background: @aqua;
    .transition;

    &:hover {
      background: @green;
      .transition;
    }
  }

  .RESDashboardToggle {
    background: @aqua;
    .transition;

    &:hover {
      background: @green;
      .transition;
    }
  }

  .RESdupeimg a {
    color: @foreground;
  }

  .NERdupe p.title:after {
    color: @foreground;
  }

  #RESShortcutsEditContainer {
    background: none;
  }

  #RESShortcutsSort,
  #RESShortcutsRight,
  #RESShortcutsLeft,
  #RESShortcutsAdd,
  #RESShortcutsTrash {
    background: @selection;
    color: @foreground;
  }

  .NERPageMarker,
  #progressIndicator {
    background: @selection;
    border: @background 1px solid;
    color: @comment;
  }

  #progressIndicator h2 {
    color: @aqua;
  }

  .RES-keyNav-activeElement {
    .md-container {
      background-color: transparent !important;
    }

    &.entry {
      background-color: transparent !important;
    }
  }

  .res-commentBoxes {
    .thing.comment {
      background: none !important;
      border-color: @background !important;
      border-radius: 4px;

      .thing.comment {
        background: @current-line !important;

        .thing.comment {
          background: @background !important;

          .thing.comment {
            background: @current-line !important;

            .thing.comment {
              background: @background !important;

              .thing.comment {
                background: @current-line !important;

                .thing.comment {
                  background: @background !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .sender .RESUserTag a {
    background: @comment !important;
    border: none !important;
  }

  .entry .RESUserTag {
    background: none;
  }

  .RESDialogSmall {
    &.livePreview > h3 {
      background: @selection;
      color: @foreground;
      border-width: 0;
    }

    > h3 {
      border-bottom: 1px solid @green !important;
      background-color: @current-line !important;
    }

    background-color: @background;
    border: 1px solid @green !important;
    color: @foreground;
    box-shadow: 0 0 3px 0 @green;
  }

  .RESCloseButton {
    background-color: @red !important;
    color: @background !important;
    border: none !important;
    border-radius: 50% !important;
  }

  .blueButton {
    border: 1px solid @aqua !important;
    background-color: @blue !important;
    color: @background !important;
  }

  .RESHoverInfoCard {
    &::before,
    &::after {
      border-color: transparent @green !important;
    }
  }

  div.md.RESDialogContents,
  .RESDialogSmall.livePreview {
    border-color: @selection;
    background: rgba(39, 43, 48, 1)
      repeating-linear-gradient(
        -45deg,
        transparent,
        0px,
        rgba(39, 43, 48, 1) 0,
        rgba(39, 43, 48, 1) 0
      )
      repeat scroll 0 0;
  }

  #srList {
    background: @background !important;
    color: @foreground !important;
    box-shadow: 0 0 3px 0 @green;

    thead {
      td {
        color: @green;

        a {
          color: @green;
        }
      }
    }

    tr {
      border-bottom: none !important;

      &:hover {
        background: @selection !important;
      }
    }

    td {
      a {
        color: @red;
      }
    }
  }
}
